/* --------------------------- Configurações de responsividade --------------------------------- */

@charset "UTF-8";

@media (max-width: 750px) {
    #intro {
        position: absolute;
        top: 14.5%;
        gap: 52px;
    }

    #luz-logomark-container {
        top: 16.7%;
        left: 50%;
        transform: translateX(-50%);
        width: 360px;
        height: 180px;
    }

    #logomark { width: 410px; }

    #start { font-size: 0.8em; }

    #slider-conteiner { font-size: .75em; }

    main {
        width: 420px;
        max-width: 420px;
        height: 520px;
        margin: 120px auto;
    }

    #cabecalho-principal {
        position: relative;
        top: -41px;
        max-height: 55px;
    }

    #cabecalho-principal img { width: 41px; }
    
    #cabecalho-principal figcaption {
        position: relative;
        top: -5px;
        font-size: 1.5em;
    }

    #caixas {
        padding: 20px;
        margin: -30px auto;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: repeat(3, 90px);
        justify-items: center;
        gap: 18px;
    }

    .caixa {
        width: 80px;
        height: 80px; 
    }

    #sobre {
        position: absolute;
        top: 10%;
        line-height: 30px;
        font-size: small;
        padding: 20px 20px;
    }

    #fechar-sobre {
        position: relative;
        top: -20px;
        left: 100%;
        border: none;
        background: none;
    }

    #vida-retirada {
        position: absolute;
        top: 34.5%;
        font-size: 1.6em;
    }

    #game-over-msg { font-size: 4.9em; }
}

@media (max-height: 690px) {
    #intro {
        position: absolute;
        top: 14.5%;
        gap: 52px;
    }

    #luz-logomark-container {
        top: 16.7%;
        left: 50%;
        transform: translateX(-50%);
        width: 360px;
        height: 180px;
    }

    #logomark { width: 410px; }

    #start { font-size: 0.8em; }
    
    #slider-conteiner { font-size: .75em; }
    
    main {
        width: 420px;
        max-width: 420px;
        height: 520px;
        margin: 120px auto;
    }

    #cabecalho-principal {
        position: relative;
        top: -41px;
        max-height: 55px;
    }

    #cabecalho-principal img { width: 41px; }
    
    #cabecalho-principal figcaption {
        position: relative;
        top: -5px;
        font-size: 1.5em;
    }

    #caixas {
        padding: 20px;
        margin: -30px auto;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: repeat(3, 90px);
        justify-items: center;
        gap: 18px;
    }

    .caixa {
        width: 80px;
        height: 80px; 
    }

    #vida-retirada {
        position: absolute;
        top: 48%;
        font-size: 1.6em;
    }

    #game-over-msg { 
        position: absolute;
        top: 16rem;
        font-size: 4.9em;
    }
}
