/* --------------------------- Configurações de responsividade --------------------------------- */

@charset "UTF-8";

@media (max-width: 750px) {
    #intro {
        top: 19.5%;
        gap: 52px;
    }

    #luz-logomark-container {
        top: 21.5%;
        width: 360px;
        height: 180px;
    }

    #logomark { width: 410px; }

    #start { font-size: .8em; }

    #slides-container button { font-size: .6em; }

    #slides-container p { font-size: 1.15em; }

    #slides-container span {
        margin: 0 18px 0 18px;
        font-size: .85em;
    }

    #quantidade-inicial-vidas {
        bottom: 16.8pc;
        font-size: .72em;
    }   

    #texto-copyright {
        font-size: .6em;
        top: -767px;
    }

    main {
        margin-top: 120px;
        padding: 10px 0;
    }

    #cabecalho-principal { max-height: 45px; }

    #cabecalho-principal img { width: 41px; }
    
    #cabecalho-principal figcaption {
        top: -5px;
        font-size: 1.5em;
    }

    #caixas {
        padding: 20px;
        margin: -30px 0;
        gap: 20px;
    }

    .caixa {
        width: 80px;
        height: 80px; 
    }

    #sobre {
        top: 10%;
        line-height: 30px;
        font-size: small;
        padding: 20px 20px;
    }

    #fechar-sobre {
        top: -20px;
        left: 52.6%;
        border: none;
        background: none;
    }

    #vida-retirada {
        top: 36.5%;
        font-size: 1.4em;
    }

    #game-over-msg { 
        font-size: 4.8em;
        top: 26%;
    }
}

@media (max-height: 690px) {
    #intro {
        top: 19.5%;
        gap: 52px;
    }

    #luz-logomark-container {
        top: 21.5%;
        width: 360px;
        height: 180px;
    }

    #logomark { width: 410px; }

    #start { font-size: .8em; }

    #slides-container button { font-size: .6em; }

    #slides-container p { font-size: 1.15em; }

    #slides-container span {
        margin: 0 18px 0 18px;
        font-size: .85em;
    }

    #quantidade-inicial-vidas {
        bottom: 16.8pc;
        font-size: .72em;
    }   

    #texto-copyright {
        font-size: .6em;
        top: -718px;
    }

    main {
        margin-top: 50px;
        padding: 10px 0;
    }

    #cabecalho-principal { max-height: 45px; }

    #cabecalho-principal img { width: 41px; }
    
    #cabecalho-principal figcaption {
        top: -5px;
        font-size: 1.5em;
    }

    #caixas {
        padding: 20px;
        margin: -30px 0;
        gap: 20px;
    }

    .caixa {
        width: 80px;
        height: 80px; 
    }

    #sobre {
        top: 10%;
        line-height: 30px;
        font-size: small;
        padding: 20px 20px;
    }

    #fechar-sobre {
        top: -20px;
        left: 52.6%;
        border: none;
        background: none;
    }

    #vida-retirada {
        top: 36.5%;
        font-size: 1.4em;
    }

    #game-over-msg { 
        font-size: 4.8em;
        top: 26%;
    }
}